<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Projektin työaikaseuranta</title>
</head>

<body>
{% if current_user.is_authenticated %}
    <p>
        Logged in as {{ current_user.name }} <a href="{{ url_for('auth_logout') }}">Logout</a>
    </p>
{% else %}
    <a href="{{ url_for('auth_login') }}">Login</a>
    <a href="{{ url_for('auth_register') }}">Register</a>
{% endif %}

<ul>
    <li><a href="{{ url_for('projects_index') }}">List projects</a></li>
    <li><a href="{{ url_for('projects_form') }}">Add new project</a></li>
</ul>
{% block body %}
    <p>
        Content.
    </p>
{% endblock %}
</body>
</html>