{% extends "layout.html" %}

{% block body %}
    <div class="table-responsive">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-start align-items-center">
                <b class="col-2">Project name</b>
                <b class="col-2">Status</b>
                <b class="col-2">Owner</b>
            </li>
            {% for project in projects %}
                <li class="list-group-item d-flex justify-content-start align-items-center">
                    <p class="col-2">{{ project.name }}</p>
                    <p class="col-2">
                        {% if project.completed %}
                            Completed
                        {% else %}
                            Not completed
                        {% endif %}
                    </p>
                    <p class="col-2">{{ project.get_owner(project) }}</p>
                    {% if current_user.is_authenticated %}
                        <a href="projects/{{ project.id }}" class="btn btn-primary col-2 ml-1">View</a>
                        {% if project.get_owner(project) == current_user.name %}
                            <form class="col-2" method="POST"
                                  action="{{ url_for('project_modify', project_id=project.id) }}">
                                <input class="btn btn-success ml-1" type="submit" value="Mark complete"/>
                            </form>
                            <form class="col-2" method="POST"
                                  action="{{ url_for('projects_delete', project_id=project.id) }}">
                            <input class="btn btn-danger ml-1" type="submit" value="Delete project"/>
                        {% endif %}
                    {% endif %}
                    </form>
                </li>
            {% endfor %}

        </ul>

    </div>
{% endblock %}