{% extends "layout.html" %}

{% block body %}
    <h1>Project: {{ project.name }}</h1>
    <h3>User list</h3>
    <ul class="list-group">
        {% if current_user.id in leads %}
            {% for user in users %}

                {% if user.id not in leads %}
                    <form method="POST"
                          action="{{ url_for('project_make_lead', project_id=project.id, user_id=user.id) }}">
                        <li class="list-group-item d-flex justify-content-start align-items-center">
                            {{ user.name }}
                            <input class="btn btn-success ml-1" type="submit" value="assign as lead">
                    </form>
                    </li>

                {% elif user.name != project.get_owner(project) %}
                    <form method="POST"
                          action="{{ url_for('project_remove_lead', project_id=project.id, user_id=user.id) }}">
                        <li class="list-group-item d-flex justify-content-start align-items-center">{{ user.name }} (lead)
                            <input class="btn btn-danger ml-1" type="submit" value="unassign as project lead">
                    </form>
                    </li>
                    {% else %}
                    <li class="list-group-item d-flex justify-content-start align-items-center">{{ user.name }} (owner)</li>
                {% endif %}

            {% endfor %}
        {% else %}
            <h4>Only project leaders can see user lists! </h4>
        {% endif %}


    </ul>


{% endblock %}