{% extends "layout.html" %}

{% block body %}
    <form method="POST" action="{{ url_for('auth_register') }}">
        {% if error %}
            {{ error }}
        {% endif %}
        <table>
            <tr>
                <td>
                    {{ form.name.label }}
                </td>
                <td>
                    {{ form.name }}
                </td>
                <td>
                    <ul>
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.username.label }}
                </td>
                <td>
                    {{ form.username }}
                </td>
                <td>
                    <ul>
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.password.label }}
                </td>
                <td>
                    {{ form.password }}
                </td>
                <td>
                    <ul>
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.confirm_password.label }}
                </td>
                <td>
                    {{ form.confirm_password }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Register"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}